@import "carousell.css";
@import "submit-window.css";
@import "header.css";
@import "infopanel.css";
@import "footer.css";
@import "flex-list.css";
@import "colorful-block.css";

body {
	/*touch-action: none;*/
	min-width: 320px;
	color: rgb(255, 255, 255);
	margin: 0 auto;
	font-family: Roboto;
	background-color: rgb(5,11,37);
	overflow-x: hidden;
}

.move {
  display: flex;
  width: 200%;
  margin-left: 0;
  transition: 1.5s;
}

.from-left {
    padding: 0;
  overflow-y: hidden;
  background-color: rgb(5,11,37);
}

.from-left > * {
    margin-left: 20px;
}

.from-left__button {
	width: 270px; 
  height: 60px;
	margin: 45px auto 20px;
}

.img-list {
	display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.img-list img {
	width: 75px;
  height: 75px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.fixed-container {
	margin: 0 auto;
	max-width: 1170px;
}

.fancy-cymbol {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 1.5s linear, -webkit-transform 3s linear;
	transition: opacity 1.5s linear, -webkit-transform 3s linear;
	-o-transition: transform 3s linear, opacity 1.5s linear;
	transition: transform 3s linear, opacity 1.5s linear;
	transition: transform 3s linear, opacity 1.5s linear, -webkit-transform 3s linear;
}

.one-third {
	width: 50%;
}

.button_blue {
  background-color: rgb(55,200,255);
  color: rgb(3, 6, 19);
  font-size: 18px;
}

.button {
	-webkit-transition: color 0.5s, background-color 0.5s;
	-o-transition: color 0.5s, background-color 0.5s;
	transition: color 0.5s, background-color 0.5s;		/*Почему-то плавность для фона не работает...*/
	cursor: pointer;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 10px;	
}

.button_blue:hover {
	color: rgb(255,255,255);
  background-color: rgb(200,55,255);
}

svg {
	z-index: -2;
	width: 917px;
  height: 1000px;
  position: absolute;
  top: 35px;
  right: -478px;
}

path {
  -webkit-transform: translate(-0%, 0);
      -ms-transform: translate(-0%, 0);
          transform: translate(-0%, 0);
  stroke-width: 0;
  fill: url('#linear-gradient');
}

canvas {
	display: none;
	position: absolute;
	top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
	z-index: -2;
}

#news {
	background-image: url("../img/news.png");
}

#semantic-editor {
	background-image: url("../img/semantic_editor.png");
}

.button_purple {
	color: rgb(200,55,255);
  background: rgba(5,11,37, 0);
}

.button_purple:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(200,55,255)), to(rgb(55,200,255)));
  background-image: -webkit-linear-gradient(left, rgb(200,55,255) 0%, rgb(55,200,255) 100%);
  background-image: -o-linear-gradient(left, rgb(200,55,255) 0%, rgb(55,200,255) 100%);
  background-image: linear-gradient(to right, rgb(200,55,255) 0%, rgb(55,200,255) 100%);
	color: rgb(251,251,251);
	border-color: rgba(0,0,0,0);
}

.vkontakte {
	background-size: auto 45%;
	background-image: url(../img/vk_logo.png);
}

.vkontakte:hover {
	background-image: url(../img/vk_logo_hov.png);
}

.github {
	background-size: auto 60%;
	background-image: url(../img/github_logo.png);
}

.github:hover {
	background-image: url(../img/github_logo_hov.png);
}

.twitter {
	background-size: auto 50%;
	background-image: url(../img/twitter_logo.png);
}

.twitter:hover {
	background-image: url(../img/twitter_logo_hov.png);
}

.instagram {
	background-size: auto 50%;
	background-image: url(../img/instagram_logo.png);
}

.instagram:hover {
	background-image: url(../img/instagram_logo_hov.png);
}

@media (max-width: 1240px) {
	.hide-1240 {
		display: none;
	}
	.fixed-container {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	svg {
    top: 45px;
    right: -279px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
	}
}

@media (max-width: 760px) {
	.fixed-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .from-left {
	  overflow-y: scroll;
	}
}

@media (max-width: 550px) {
	.move {
    height: 582px;
  }
  
	svg {
		top: -168px;
    left: -281px;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
	}

	.button {
		height: 55px;
    width: 280px;
    font-size: 16px;
	}
}